@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root {
    /* Primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    /*Neutral*/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-greyish-blue: hsl(213, 9%, 39%);
    --dark-greyish-blue: hsl(232, 10%, 55%);
    --greyish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /* font families */
    --fraunces: "Fraunces", serif;
    --barlow: "Barlow", sans-serif;
    /*font-weights */
    --semi-bold: 600;
    --black: 900;

    --test: #808397;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--barlow);
    line-height: 1.75;
    font-size: 18px;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

#header {
    display: flex;
    background: url("../images/desktop/image-header.jpg") no-repeat center center/cover;
    flex-direction: column;
    min-height: 100vh;
}

#header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

#header .navbar .desktop-nav {
    display: flex;
    align-items: center;
    display: none;
}

#header .navbar .desktop-nav a {
    padding-left: 1rem;
    font-size: .80rem;
    font-weight:500;
    text-decoration: none;
    color: var(--white)
}

#header .site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header .site-header h1 {
    text-transform: uppercase;
    color: var(--white);
    margin-top: 4rem;
    font-family: var(--fraunces);
    font-weight: var(--black);
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: .5rem;
}

.mobile {
    display: none;
}

.lead {
    color: var(--very-dark-greyish-blue);
    font-weight: var(--semi-bold);
}

.site-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
}

.site-grid .site-grid-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.site-grid .site-grid-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-grid .site-grid-text .site-grid-title {
    font-weight: var(--black);
    font-family: var(--fraunces);
    font-size: 2.5rem;
    color: var(--very-dark-desaturated-blue);
    line-height: 1.25;
}

.site-grid .site-grid-text .site-grid-wrapper {
    max-width: 80%; /* initial on mobile */
}


.main-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

#testimonials {
    margin: 6.5rem 0;
}

#testimonials .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    column-gap: 3.5rem;
    grid-auto-rows: 1fr;
}

#testimonials .testimonials .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#testimonials .testimonials-title {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 1.25rem;
    letter-spacing: .313rem;
    font-weight: 900;
    font-family: var(--fraunces);
    text-transform: uppercase;
    color: var(--greyish-blue);
}

.testimonials .testimonial .testimonial-img {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}

.testimonials .testimonial .testimonial-img img {
    border-radius: 50%;
    display: block;
    width: 50%;
}

.testimonials .testimonial .testimonial-attribution,
.testimonials .testimonial .testimonial-text {
    text-align: center;
}

.testimonials .testimonial .testimonial-attribution {
    margin-top: 2.5rem;
}

.testimonials .testimonial .testimonial-attribution .author {
    font-weight: var(--black);
    color: var(--very-dark-desaturated-blue);
    font-family: var(--fraunces);
}

.testimonials .testimonial .testimonial-attribution .role {
    font-size: var(--semi-bold);
    color: var(--greyish-blue);
    font-size: 0.875rem;
}

#gallery {
    display: flex;
}

#gallery img {
    width: 25%;
}

#footer {
    background-color: var(--footer);
}

.attribution {
    font-family: 'Fraunces', serif;
}

