@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root {
  /* Primary */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --yellow-hover: #FAD400;
  --graphic-design-text: hsl(167, 40%, 24%);
  --photography-text: hsl(198, 62%, 26%);
  --footer: 	hsl(168, 44%, 70%);
  --footer-text: hsl(168, 34%, 41%);
  /*Neutral*/
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-greyish-blue: hsl(213, 9%, 39%);
  --dark-greyish-blue: hsl(232, 10%, 55%);
  --greyish-blue: hsl(210, 4%, 67%);
  --white: #f2f2f2;
  --off-white: #FFFCF8;
  /* font families */
  --fraunces: "Fraunces", serif;
  --barlow: "Barlow", sans-serif;
  /*font-weights */
  --semi-bold: 600;
  --black: 900;
  --bold: 700;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--barlow);
  font-size: 18px;
}

.header {
  display: flex;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  min-height: 100vh;
  color: var(--white);
}

.header .header-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 34px 40px 0px 40px;
}

.header .header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.header .header-nav-menu-nav-list {
  display: flex;
}

.header .header-nav-menu-nav-icon {
  display: none;
}

.header .header-nav-menu-nav-link a {
  margin: 0 24px;
}

.header .header-nav-menu-nav-link:last-child a {
  text-transform: uppercase;
  border-radius: 28px;
  font-family: var(--fraunces);
  font-size: 15px;
  font-weight: var(--bold);
  color: var(--very-dark-desaturated-blue);
  background-color: var(--white);
  padding: 16px 32px 15px 31px;
  margin-right: 0px;
  transition: background-color 1s ease-in;
}

.header .header-nav-menu-nav-link:last-child a:hover {
  background-color: rgba(242, 242, 242, .25);
  color: var(--white);
}

.header .header-title {
  justify-self: center;
  align-self: center;
}

.header .header-title-lead {
  font-size: 58px;
  text-align: center;
  font-family: var(--fraunces);
  font-weight: var(--black);
  text-transform: uppercase;
  letter-spacing: 8.75px;
  line-height: 69.05px;
}

.main__about {
  display: flex;
  flex-flow: row wrap;
}

.main__about .main__about-item {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.main__about .main__about-item-container {
  max-width: 500px;
  padding: 32px 16px;
}

.main__about .main__about-item-title {
  font-family: var(--fraunces);
  font-weight: var(--black);
  font-size: 40px;
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 33px;
}

.main__about .main__about-item-text {
  font-family: var(--barlow);
  font-weight: var(--semi-bold);
  line-height: 30px;
  color: var(--dark-greyish-blue);
  margin-bottom: 40px;
}

.main__about .main__about-item-link {
  text-transform: uppercase;
  font-weight: var(--black);
  font-family: var(--fraunces);
  letter-spacing: 1px;
  font-size: 15px;
  color: var(--very-dark-desaturated-blue);
  padding-left: 8px;
  padding-right: 9px;
  position: relative;
  z-index: 1;
}

.main__about .main__about-item-link::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 60%;
  height: 10px;
  left: 0px;
  z-index: -1;
  opacity: 0.25;
  border-radius: 28px;
  transition: opacity 1s ease-in;
}

.main__about .main__about-transform-link::before {
  background-color: var(--yellow);
}

.main__about .main__about-standout-link::before {
  background-color: var(--soft-red);
}

.main__about .main__about-item-link:hover::before {
  opacity: 1;
}

.main__about .main__about-img {
  height: 100%;
  width: 100%;
}

.main__about .main__about-img--desktop {
  display: block;
}

.main__about .main__about-img--mobile {
  display: none;
}

.main__about .main__about-design {
  color: var(--graphic-design-text);
}

.main__about .main__about-photography {
  color: var(--photography-text);
}

.main__about .main__about-item-image-container {
	width: 100%;
  position: relative;
}

.main__about .main__about-item-image-container-text {
  position: absolute;
  bottom: 10%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

.main__about .main__about-item-image-container-title {
  font-family: var(--fraunces);
  font-size: 28px;
  font-weight: var(--black);
  margin-bottom: 27px;
}

.main__about .main__about-item-image-container-desc {
  font-size: 16px;
  line-height: 27px;
}

.main__testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
  align-items: center;
  background-color: var(--off-white);
}

.main__testimonials .main__testimonials-title {
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 20px;
  font-family: var(--fraunces);
  font-weight: var(--black);
  color: var(--greyish-blue);
  margin-bottom: 64px;
  display: block
}

.main__testimonials .main__testimonials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
}

.main__testimonials .main__testimonials-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33%;
}

.main__testimonials .main__testimonials-item-img {
  width: 70px;
  height: 70px;
  margin-bottom: 58px;
}

.main__testimonials .main__testimonials-item-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main__testimonials .main__testimonials-item-testimonial {
  line-height: 32px;
  color: var(--very-dark-greyish-blue);
  font-family: var(--barlow);
  margin-bottom: 69px;
  font-weight: var(--semi-bold);
}

.main__testimonials .main__testimonials-item-author-name {
  margin-bottom: 9px;
  font-family: var(--fraunces);
  font-weight: var(--black);
  color: var(--very-dark-desaturated-blue);
}

.main__testimonials .main__testimonials-item-author-position {
  font-family: var(--barlow);
  color: var(--greyish-blue);
  font-size: 14px;
}

.main__gallery {
  display: flex;
  flex-wrap: wrap;
}

.main__gallery .main__gallery-image--desktop {
  display: block;
  width: 25%;
  height: auto;
}

.main__gallery .main__gallery-image--mobile {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer);
  color: var(--footer-text);
  padding: 72px 0px 72px 0px;
}

.footer .footer__icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 297px;
}

.footer .footer__icons-logo {
  margin-bottom: 40px;
}

.footer .footer__icons-nav {
  width: 100%;
  margin-bottom: 88px;
}

.footer .footer__icons-nav-list {
  display: flex;
  justify-content: space-between;
}

.footer .footer__icons-social-media {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

@media (max-width: 991px) {
  .main__about {
    flex-flow: column nowrap;
  }

  .main__about .main__about-item {
    text-align: center;
    background-color: var(--off-white);
  }

  .main__about .main__about-item-container {
    padding: 64px 24px;
    max-width: none;
  }

  .main__about .main__about-item-title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .main__about .main__about-item-text {
    margin-bottom: 32px;
  }

  .main__testimonials {
    flex-direction: column;
    padding: 64px 24px;
  }

  .main__testimonials .main__testimonials-container {
    flex-direction: column;
    max-width: none;
  }

  .main__testimonials .main__testimonials-item {
    margin-bottom: 64px;
  }

  .main__testimonials .main__testimonials-item-img {
    margin-bottom: 32px;
  }

  .main__testimonials .main__testimonials-item:last-of-type {
    margin-bottom: 22px;
  }

  .main__testimonials .main__testimonials-item-testimonial {
    margin-bottom: 32px;
  }
  
  .main__about .main__about-img--desktop {
    display: none;
  }
  
  .main__about .main__about-img--mobile {
    display: block;
  } 

  .main__about .main__about-item-image-container-text {
    width: 100%;
  }

  .main__gallery .main__gallery-image--desktop {
    display: none;
  }

  .main__gallery .main__gallery-image--mobile {
    display: block;
    width: 50%;
    height: auto;
  }

  .footer {
    padding: 64px 39px 80px 39px;
  }

  .header {
    background-image: url("../images/mobile/image-header.jpg");
  }

  .header .header-container {
    padding: 32px 24px 0px 24px;
  }

  .header .header-nav {
    margin-bottom: 88px;
  }

  .header .header-nav-menu-nav-icon {
    display: block;
  }

  .header .header-nav-menu-nav-list {
    display: none;
  }

  .header .header-title-lead {
    font-size: 40px;
    letter-spacing: 6.25px;
    line-height: 49.32px;
  }
}
